<div class="card" (mouseover)="pokeEnter()" (mouseout)="pokeLeave()">
  <div
    class="img-cont-cont"
    [ngStyle]="{
      height: isHover ? '70%' : '50%',
    }"
  >
    <div
      class="img-cont"
      [ngStyle]="{
          background: pokemon().gradientColor,
          height: isHover ? '120%' : '100%',
        }"
    ></div>
  </div>
  <span class="hp"
    >{{ pokemon().stats[0].base_stat }}
    <p>HP</p></span
  >
  <div class="bot-cont">
    <img
      class="image"
      [ngClass]="{ anim: isHover }"
      [src]="isHover ? pokemon().anim : pokemon().sprite"
      alt=""
    />
    <div class="info">
      <h1 class="name">{{ pokemon().name }}</h1>
      <p
        class="type"
        [ngStyle]="{ 'background-color': pokemon().primaryColor }"
      >
        {{ pokemon().types[0].type.name }}
      </p>
    </div>
  </div>
  <div class="stats">
    <div class="stat">
      <p class="value">{{ pokemon().stats[1].base_stat }}</p>
      <h3 class="text">Attack</h3>
    </div>
    <div class="stat">
      <p class="value">{{ pokemon().stats[2].base_stat }}</p>
      <h3 class="text">Defense</h3>
    </div>
    <div class="stat">
      <p class="value">{{ pokemon().stats[5].base_stat }}</p>
      <h3 class="text">Speed</h3>
    </div>
  </div>
</div>
