.Pokedex--container {
  width: 100%;
  height: auto;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  background: linear-gradient(
    to left,
    rgb(189, 223, 237) 0%,
    rgb(206, 218, 219) 100%
  );
  position: relative;
  padding-bottom: 200px;
  padding-top: 150px;

  .Pokedex--box {
    width: 70%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 auto;
  }
}
